{% extends "layout.html" %}
{% block title %} Avery Lodge - Calendar{% endblock %}
{% block acti_index %}inactive{% endblock %}
{% block cur_index %}noncurrent{% endblock %}
{% block acti_cal %}active{% endblock %}
{% block cur_cal %}current{% endblock %}
{% block acti_docs %}inactive{% endblock %}
{% block cur_docs %}noncurrent{% endblock %}
{% block acti_exec %}inactive{% endblock %}
{% block cur_exec %}noncurrent{% endblock %}
{% block acti_mem %}inactive{% endblock %}
{% block cur_mem %}noncurrent{% endblock %}
{% block acti_alb %}inactive{% endblock %}
{% block cur_alb %}noncurrent{% endblock %}
{% block body %}
<p class="centerimage">
    <iframe src="https://www.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=avery.lodge%40gmail.com&amp;color=%23711616&amp;src=ukq274rgs65323bm05qkjtjte4%40group.calendar.google.com&amp;color=%2323164E&amp;src=dphjrffs5thpjj671ssc04o418%40group.calendar.google.com&amp;color=%232F6309&amp;src=ahfgs6bdrg8096uk3tt2tjoiu8%40group.calendar.google.com&amp;color=%23182C57&amp;ctz=America%2FLos_Angeles" style=" border-width:0 " width="800" height="600" frameborder="0" scrolling="no"></iframe>
</p>
{% endblock %}
