{% extends "layout.html" %}
{% block title %} Avery Lodge - House Rules{% endblock %}
{% block acti_index %}inactive{% endblock %}
{% block cur_index %}noncurrent{% endblock %}
{% block acti_cal %}inactive{% endblock %}
{% block cur_cal %}noncurrent{% endblock %}
{% block acti_docs %}active{% endblock %}
{% block cur_docs %}current{% endblock %}
{% block acti_exec %}inactive{% endblock %}
{% block cur_exec %}noncurrent{% endblock %}
{% block acti_mem %}inactive{% endblock %}
{% block cur_mem %}noncurrent{% endblock %}
{% block acti_alb %}inactive{% endblock %}
{% block cur_alb %}noncurrent{% endblock %}
{% block body %}
<div id="DocumentContainer">
    <ul id="DocumentList">
        <li><a href="{{ url_for('constitution') }}" id="noncurrent">Constitution</a></li>
        <li><a href="{{ url_for('house_rules') }}" id="cur_doc">House Rules</a></li>
        <li><a href="{{ url_for('work_job_desc') }}" id="noncurrent">Work Job</a></li>
    </ul>
</div>
{% endblock %}
