{% extends "layout.html" %}
{% block title %} Avery Lodge - Members{% endblock %}
{% block acti_index %}inactive{% endblock %}
{% block cur_index %}noncurrent{% endblock %}
{% block acti_cal %}inactive{% endblock %}
{% block cur_cal %}noncurrent{% endblock %}
{% block acti_docs %}inactive{% endblock %}
{% block cur_docs %}noncurrent{% endblock %}
{% block acti_exec %}inactive{% endblock %}
{% block cur_exec %}noncurrent{% endblock %}
{% block acti_mem %}active{% endblock %}
{% block cur_mem %}current{% endblock %}
{% block acti_alb %}inactive{% endblock %}
{% block cur_alb %}noncurrent{% endblock %}
{% block body %}
{% endblock %}
