{% extends "layout.html" %}
{% block title %} Avery Lodge - Members{% endblock %}
{% block acti_index %}inactive{% endblock %}
{% block cur_index %}noncurrent{% endblock %}
{% block acti_cal %}inactive{% endblock %}
{% block cur_cal %}noncurrent{% endblock %}
{% block acti_docs %}inactive{% endblock %}
{% block cur_docs %}noncurrent{% endblock %}
{% block acti_exec %}inactive{% endblock %}
{% block cur_exec %}noncurrent{% endblock %}
{% block acti_mem %}active{% endblock %}
{% block cur_mem %}current{% endblock %}
{% block acti_alb %}inactive{% endblock %}
{% block cur_alb %}noncurrent{% endblock %}
{% block body %}
<div class='content'>
    <h1>Spring Term 2012 Roster List</h1>
</div>
<div class='table_container'>
    <table id='avery_table'>
        <thead>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Contact</th>
            <th>Year</th>
            <th>Major</th>
            <th>Room #</th>
        </thead>
        <tbody>
            <tr>
                <td>TEST</td>
                <td>TEST</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr> 
            <tr>
                <td>TEST1</td>
                <td>TEST1</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}
